html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --max-width: 1050px;
  background-color: var(--background);
  color: var(--font);
}

body {
  --background: transparent;
  --font: black;
}

body[data-theme="dark"] {
  --background: #220922;
  --font: white;
  background-color: var(--background);
  color: var(--font);
}

* {
  box-sizing: inherit;
}
